#game {
	width: 768px;
	margin: 0 auto;
	background-color: pink;
	height: 340px;
	border-radius: 30px;
}
#game h1, form, input, span, p, h3 {
	text-align: center;
}

#game h1 {
	padding-top: 30px;
}

body {
	background: url('../../background.jpg');
}
.diceform {
	display: inline-block;
	width: 70px;
}
.diceform input {
	width: 60px;
}
#dice1 {
	height: 55px;
}

#rules {
	width: 768px;
	margin: 0 auto;
	background-color: rgb(253, 186, 198);
	border-radius: 30px;
	height: 273px;
}
#rules h3 {
	padding-top: 10px;
}

@media (max-width: 768px) {
  #game, #rules {
  	width: 100%;
  }
}
